* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Green500: hsl(171, 66%, 44%);
  --Blue100: hsl(233, 100%, 69%);
  --Gray700: hsl(210, 10%, 33%);
  --Gray500: hsl(201, 11%, 66%);
}

body {
  min-height: 100vh;
}

/* General */

.title {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h2 {
    color: var(--Gray700);
  }
  p {
    color: var(--Green500);
    margin-bottom: 50px;
  }
}

/* Header Section */

.header .position-img {
  position: relative;
  img {
    width: 100%;
  }
}

.header img.logoHeader {
  width: 100px;
  position: absolute;
  left: 50%;
  bottom: 25%;
  transform: translateX(-50%);
}

.header h1 {
  color: var(--Gray700);
}
.header p {
  color: var(--Green500);
}

.header .content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.btn-header {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
button {
  color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 10px 20px 100px hsl(210, 10%, 33%);
}
.btn-header button:first-child {
  background-color: var(--Green500);
  padding-inline: 40px;
  padding-block: 10px;
}
.btn-header button:last-child {
  background-color: var(--Blue100);
  padding-inline: 40px;
  padding-block: 10px;
}

/* Keep track of your snippets */
.snippets-content {
  display: flex;
  gap: 50px;
  .position {
    position: relative;
    img {
      width: 500px;
      position: relative;
      left: -20px;
    }
  }
  h4 {
    color: var(--Gray700);
    font-size: 18px;
    margin-bottom: 15px;
  }
  p {
    color: var(--Green500);
  }
  .text-sn {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
  }
}

/* Clipboard Section */
.Clipboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 500px;
  }
}

/* Supercharge section */
.Supercharge {
  .cards {
    display: flex;
    justify-content: center;

    gap: 20px;
    .image {
      display: flex;
      padding: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      p {
        color: var(--Green500);

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-grow: 1;
      }

      h5 {
        color: var(--Gray700);
        font-size: 18px;
      }
    }
  }
}

/* Gallery section */
.gallery {
  margin-block: 5%;
  img {
    width: 100px;
  }

  display: flex;
  justify-content: space-around;
}

/* Clipboard for ios and mac os */
.clipboards {
  margin-bottom: 5%;
}

/* footer section */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 80px;
  background-color: #f5f6f8;

  .footer-logo {
    img {
      width: 50px;
    }
  }

  .footer-cards {
    display: flex;
    gap: 60px;

    .card {
      display: flex;
      flex-direction: column;
      gap: 12px;

      p {
        color: var(--Gray700);
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: var(--Green500);
        }
      }
    }
  }

  .icons {
    display: flex;
    gap: 20px;

    img {
      width: 20px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

/* Responsive all Devices */
@media (max-width: 1000px) {
  .container {
    .header {
      .logoHeader {
        width: 50px;
      }
    }

    .content-header {
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }

      .btn-header {
        flex-direction: column;
      }
    }

    .title {
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        text-align: center;
      }
    }
    .snippets-content {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    .Supercharge {
      .cards {
        flex-wrap: wrap;
      }
    }
    .gallery {
      flex-wrap: wrap;
      gap: 50px;
      justify-content: center;
    }

    .btn-header {
      flex-wrap: wrap;
    }

    .footer {
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
    }

    .footer-cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
